<form [formGroup]="searchForm" (submit)="search()" class="users-search">
  <input class="form-input users-search__input" type="text" formControlName="keyword">
  <button class="form-button" type="submit">Search</button>
</form>
<div class="users-list">
  <h3>Users list</h3>
  <ng-container *ngIf="users.length">
    <app-user *ngFor="let user of users" [user]="user"></app-user>
  </ng-container>
  <div *ngIf="!users.length">
    Nothing more to show
  </div>
</div>
<a class="show-more" (click)="showMore()" *ngIf="isEnabledShowMore">Show More</a>
