form {
  width: 300px;
  margin: calc(35vh - 130px) auto;

  label {
    display: block;
    margin: 5px 0;
  }

  input {
    width: calc(100% - 22px);
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
}
