<form [formGroup]="loginForm" (ngSubmit)="submit()">
  <div>
    <label for="email">Email</label>
    <input id="email" name="email" formControlName="email" type="text" class="form-input" />
    <div
      *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched"
      class="input-error"
    >
      Invalid email
    </div>
  </div>

  <div>
    <label for="password">Password</label>
    <input id="password" name="password" formControlName="password" type="password" class="form-input" />
    <div
      *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"
      class="input-error"
    >
      Invalid password
    </div>
    <div
      *ngIf="invalidCredentials"
      class="input-error"
    >
      Invalid email or password
    </div>
  </div>

  <div class="buttons">
    <a [routerLink]="['/register']">Registration</a>
    <button type="submit" class="form-button" [disabled]="!loginForm.valid">Login</button>
  </div>
</form>
